extends layout

block content
  .row
    .col-sm-4
      h1=deck.deckname
      each card, index in deck.cards
        .col-sm-4.justify-content-center
        .card
          .card-body
            h4.card-title= card.name
      .text-right
        a(href="/decks/" + deck.id + "/edit").btn-link Edit