extends layout

block content
  .row.justify-content-center
    .col-sm-6
      legend Add Deck
      form(action="/decks", method="post", id="new-deck")
        .form-group
          label Deck Name*
          input.form-control(type="text" name="deckname" required)
        .form-group
          button(type="submit").btn.btn-primary Save